[Unit]
After=network.target nss-lookup.target

[Service]
User=root
WorkingDirectory=/opt/hiddify-manager/services/hiddify-core
#CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
#AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
ExecStart=/opt/hiddify-manager/services/hiddify-core/hiddify-core srun -c /opt/hiddify-manager/generated/hiddify-core.json
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
LimitNOFILE=infinity
#StandardOutput=file:/opt/hiddify-manager/data/log/system/hiddify-core.out.log
#StandardError=file:/opt/hiddify-manager/data/log/system/hiddify-core.err.log
[Install]
WantedBy=multi-user.target