PORT = 1001

# name -> secret (32 hex chars)
USERS = {
    "tg":  "{{ hconfigs['shared_secret'].replace("-","") }}",
    # "tg2": "0123456789abcdef0123456789abcdef",
}

MODES = {
    # Classic mode, easy to detect
    "classic": False,

    # Makes the proxy harder to detect
    # Can be incompatible with very old clients
    "secure": False,

    # Makes the proxy even more hard to detect
    # Can be incompatible with old clients
    "tls": True
}

# The domain for TLS mode, bad clients are proxied there
# Use random existing domain, proxy checks it on start
TLS_DOMAIN = "{{ hconfigs['telegram_fakedomain'] }}"

# Tag for advertising, obtainable from @MTProxybot
AD_TAG="{{ hconfigs['telegram_adtag'] }}"
LISTEN_ADDR_IPV4="127.0.0.1"
LISTEN_ADDR_IPV6="::1"
METRICS_LISTEN_ADDR_IPV4="127.0.0.1"
METRICS_LISTEN_ADDR_IPV6="::1"