{
    "server":"0.0.0.0",
    "server_port":1003,
    "password":"{{ hconfigs['shared_secret'] }}",
    "timeout":300,
    "plugin":"/opt/hiddify-manager/other/v2ray/v2ray-plugin_linux",
    "plugin_opts":"server;path=/{{ hconfigs['proxy_path'] }}/v2ray/;loglevel=none",
    "method":"chacha20-ietf-poly1305"
}