[Unit]
Description=hiddify panel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/hiddify-config/hiddify-panel/
Environment="LANG=C.UTF-8"
ExecStartPre=/bin/bash -c "/bin/kill -INT $(/usr/bin/pgrep -f 'hiddifypanel')||echo 'nothing to kill'"
ExecStart=/usr/local/bin/uwsgi --ini /opt/hiddify-config/hiddify-panel/uwsgi.ini
#ExecReload=/bin/kill -HUP $MAINPID
RestartSec=5
ExecStop=/bin/bash -c "/bin/kill -INT $(/usr/bin/pgrep -f 'hiddifypanel')||echo 'nothing to kill'"
#ExecStop=/bin/kill -INT $MAINPID
Restart=always
StandardOutput=file:/opt/hiddify-config/log/system/hiddify_panel.out.log
StandardError=file:/opt/hiddify-config/log/system/hiddify_panel.err.log
[Install]
WantedBy=multi-user.target


#lsof | awk -v pattern="/hiddifypanel/" '$9 ~ pattern {print $2}'| sort -u| xargs echo kill