[Unit]
Description=hiddify panel
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=hiddify-panel
WorkingDirectory=/opt/hiddify-manager/hiddify-panel/
Environment="LANG=C.UTF-8"
ExecStart=/opt/hiddify-manager/.venv313/bin/python /opt/hiddify-manager/hiddify-panel/app.py
ExecReload=/bin/kill -HUP $MAINPID
#RestartSec=1
#ExecStop=/bin/bash -c "/bin/kill -INT $(/usr/bin/pgrep -f 'hiddifypanel')||echo 'nothing to kill'"
ExecStop=/bin/kill -INT $MAINPID
Restart=always
StandardOutput=file:/opt/hiddify-manager/log/system/hiddify_panel.out.log
StandardError=file:/opt/hiddify-manager/log/system/hiddify_panel.err.log
[Install]
WantedBy=multi-user.target


#lsof | awk -v pattern="/hiddifypanel/" '$9 ~ pattern {print $2}'| sort -u| xargs echo kill