[Unit]
Description=hiddify admin ui
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=gunicorn -b 0.0.0.0:9000 'hiddifypanel:create_app()'
WorkingDirectory=/opt/hiddify-config/hiddify-panel/
Restart=on-failure
StandardOutput=file:/opt/hiddify-config/log/system/hiddify_panel.out.log
StandardError=file:/opt/hiddify-config/log/system/hiddify_panel.err.log
[Install]
WantedBy=multi-user.target
