#cloud-config
package_upgrade: true
packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - wget
  - gnupg-agent
  - software-properties-common
  - git
runcmd:
  - cd /opt
  - git clone https://github.com/hiddify/hiddify-manager/
  - cd hiddify-manager
  # uncomment it for using a special secret otherwise it will be createed automatically/
  #- echo "USER_SECRET=44da16ea20ff4bac92afae43ef97f067" >config.env
  #- echo "MAIN_DOMAIN=example.com" >>config.env
  - bash install.sh

# please open http://yourip/ or https://yourip.sslip.io within the one hour after setuping your server
