[Unit]
Description=gost
After=network-online.target
Wants=network-online.target

[Service]
Type=forking    
ExecStart=/opt/gost/gost -L=http+tls://user:pass@:443?probe_resist=web:www.google.com:80 
Restart=on-failure

[Install]
WantedBy=multi-user.target
