#!/bin/bash
source ../../common/utils.sh


latest=$(get_release_version hiddify-next-core)

if [ "$(cat 'VERSION' 2>/dev/null)" != "$latest" ] || ! is_installed ./HiddifyCli; then
    echo "Downloading HiddifyCli..."
    pkg=$(dpkg --print-architecture)

    curl -Lo hiddify-cli.tar.gz https://github.com/hiddify/hiddify-next-core/releases/download/v$latest/hiddify-cli-linux-$pkg.tar.gz

    tar -xzf hiddify-cli.tar.gz
    rm  hiddify-cli.tar.gz
    echo $latest> VERSION
    echo "The HiddifyCli installed"
else
    echo "HiddifyCli is installed"
fi

# Create systemd env file
PANEL_DOMAIN=$(echo "{{ panel_links[panel_links|length -1] }}" | sed 's|^https\?://\([^/]\+\).*|\1|')
PANEL_DOMAIN=https://$PANEL_DOMAIN
SUB_LINK="$PANEL_DOMAIN/{{ hconfigs['proxy_path_client'] }}/{{ users[0]['uuid'] }}/singbox/"
echo "SUB_LINK=$SUB_LINK" > .env

ln -sf /opt/hiddify-manager/other/hiddify-cli/hiddify-cli.service /etc/systemd/system/hiddify-cli.service
systemctl enable hiddify-cli.service