source /opt/hiddify-manager/scripts/common/utils.sh

if [ "$MODE" != "docker" ];then
  if [[ '{{hconfigs['country']}}' == 'cn' ]]; then
      TIMEZONE=Asia/Shanghai
  elif [[ '{{hconfigs['country']}}' == 'ru' ]]; then
      TIMEZONE=Europe/Moscow
  else
      TIMEZONE=Asia/Tehran
  fi
  CURRENT_TZ=$(timedatectl show --property=Timezone --value)
  if [[ "$CURRENT_TZ" != "$TIMEZONE" ]]; then
      echo "Current timezone is $CURRENT_TZ. Changing to $TIMEZONE..."
      sudo timedatectl set-timezone "$TIMEZONE"
      sudo systemctl restart mariadb
  fi
fi

# Check if PasswordAuthentication is enabled
if ! grep -rxq "PasswordAuthentication.*no" /etc/ssh/sshd*; then
  chmod a+r /etc/ssh/sshd*
  WARNING_MSG="Hiddify! Your server is vulnerable to abuses because PasswordAuthentication is enabled. To secure your server, please switch to key authentication mechanism and turn off PasswordAuthentication in your ssh config file."
  
  if [[ $(grep "Your server is vulnerable" /etc/motd | wc -l) == 0 ]]; then
    error "$WARNING_MSG" >>/etc/motd 2>&1
  fi
else
  sed -i "/Your server is vulnerable/d" /etc/motd
fi


{% if hconfigs['auto_update'] %}
echo "0 3 * * * root $(pwd)/../update.sh --no-gui --no-log" >/etc/cron.d/hiddify_auto_update
service cron reload
{%else%}
rm -rf /etc/cron.d/hiddify_auto_update
service cron reload
{%endif%}
