{
        "log": {
                {%if hconfigs['log_level']=="CRITICAL"%}
                "disabled": true,
                {%endif%}
                "level": "{{hconfigs['log_level'].lower()}}",
                //"output": "box.log",
                "timestamp": false
                
                //"loglevel": "debug",
                //"output": "/opt/hiddify-manager/log/system/xray.out.log",
                //"error": "/opt/hiddify-manager/log/system/xray.err.log",
                //"access": "/opt/hiddify-manager/log/system/xray.access.log",
                //"logid": true,
                //"header": true
        }
}