{
	"experimental": {
		"v2ray_api": {
			"listen": "127.0.0.1:10086",
			"stats": {
				"enabled": true,
				"inbounds": [],
				"outbounds": ["WARP","freedom","blackhole"],
				"users": [
					{% for u in users %}
						"{{ u['uuid'] }}@hiddify.com",
					{% endfor%}
				]
			}
		}
	}
}
