{
  "dns": {
    "servers": [
        {
        "tag": "cloudflare",
        "address": "1.1.1.1",
        "strategy": "prefer_ipv4",
        "detour": "direct"
      }
    ],
    "rules": [],
    "final": "cloudflare",
    "strategy": "prefer_ipv4"
  }
}