{
  "dns": {
    "servers": [{
        "tag": "local",
        "address": "local"
      },
        {
        "tag": "cloudflare",
        "address": "1.1.1.1",
        "strategy": "prefer_ipv4",
        "detour": "freedom"
      }
    ],
    "rules": [],
    "final": "cloudflare",
    "strategy": "prefer_ipv4"
  }
}