{
	"inbounds": [
		{% for d in domains if d['internal_port_hysteria2']  %}
        {%set domain=d['domain']%}
        {%set port=d['internal_port_hysteria2']%}
		{
			"type": "hysteria2",
			"tag": "hysteria_in_{{port}}",
			"listen": "0.0.0.0",
			"listen_port": {{ port }},
			"up_mbps": {{ hconfigs['hysteria_up_mbps'] }},
			"down_mbps": {{ hconfigs['hysteria_down_mbps'] }},
			"obfs": {
				"type": {%if hconfigs['hysteria_obfs_enable'] %} "salamander" {%else%} "" {%endif%},
				"password": "{{ hconfigs['proxy_path'] }}"
			},
			"users": [
				{% for u in users %}
    				{"name": "{{ u['uuid'] }}@hiddify.com", "password": "{{ u['uuid'] }}"},
				{% endfor%}
			],
			"masquerade": "http://{{domain}}:80/",
			"tls": {
				"enabled": true,
				"server_name": "{{domain}}",
				"alpn": ["h3"],
				"min_version": "1.2",
				"max_version": "1.3",
				"certificate_path": "/opt/hiddify-manager/ssl/{{domain}}.crt",
				"key_path": "/opt/hiddify-manager/ssl/{{domain}}.crt.key"
			}
		},
		{%endfor%}
	]
}