
{%set modes={'special_reality_tcp':'tcp','special_reality_grpc':'grpc'}%}
{
	{% if hconfigs['core_type']=="singbox" and hconfigs['reality_enable'] %}
		"inbounds": [
			{% for d in domains if d['internal_port_special'] and d['mode'] in  modes  %}
				{%set domain=d['domain']%}
				{%set port=d['internal_port_special']%}
				{%set protocol='vless'%}
				{%set stream=modes[d['mode']]%}
			{
				"tag":"realityin_{{port}}",
				// "port": {{port}}, // This is TLS entrypoint. This entrypoint does the SSL Termination then routes the request based on the Path or ALPN type.
				"listen": "127.0.0.1",
				"listen_port": {{ port }},
				"tcp_fast_open": true,
				"sniff": true,
				"sniff_override_destination": true,
				"domain_strategy": "prefer_ipv4",
				"proxy_protocol":true,
				{% with flow="xtls-rprx-vision" if stream=='tcp' else "" %}
					{% include '/opt/hiddify-manager/singbox/configs/common/protocols/'~protocol~'.pj2' %},
				{%endwith%}
				"transport": {
					{% if stream!='tcp' %}
						{% with path=hconfigs['path_'~ protocol]~hconfigs['path_'~stream] %}
                            {% include '/opt/hiddify-manager/singbox/configs/common/streams/'~stream~'.pj2' %},
                        {%endwith %}
					{%endif%}
				},
				"tls":{
					"enabled": true,
					"server_name": "{{domain}}",
					"reality": {
						"enabled": true,
						"handshake": {
							"server": "{{domain}}",
							"server_port": 443
						},
						"private_key": "{{hconfigs['reality_private_key']}}",
						"short_id": [
							"", 
							{%for sid in hconfigs['reality_short_ids'].split(',') %}
							"{{sid}}",
							{%endfor%}
						],
						"max_time_difference": "2h"
					}
				},
				{% include "includes/multiplex.json.pj2"%}	
			},
			{%endfor%}	  
		]
	{% endif %}
}
