{
	{% if hconfigs['vmess_enable'] and hconfigs['tcp_enable'] %}
		"inbounds": [
			{
				"tag":"vmess-tcp-v1",
				"listen": "127.0.0.1",
				"listen_port":2039,
				"tcp_fast_open": true,
				"sniff": true,
				"sniff_override_destination": true,
				"domain_strategy": "prefer_ipv4",
				"proxy_protocol":true,	
				"type": "vmess",
				"users": [
					{% for u in users %}
						{"uuid": "{{ u['uuid'] }}", "name": "{{ u['uuid'] }}@hiddify.com", "alterId": 0},
					{% endfor%}
				],
				"transport": {
					"type": "http",
					"path": "/{{ hconfigs['path_vmess'] }}{{ hconfigs['path_tcp'] }}",
					"method":"GET",
					"idle_timeout": "15s",
					"ping_timeout": "15s"
				},
				{% include "includes/multiplex.json.pj2"%}
			}	  
		]
	{% endif %}
}