{
	{% if hconfigs['tuic_enable'] %}
		"inbounds": [
			{% for d in domains if d['internal_port_tuic']  %}
			{%set domain=d['domain']%}
			{%set port=d['internal_port_tuic']%}

			{
				"type": "tuic",
				"tag": "tuic_in_{{port}}",
				"listen": "::",
				"listen_port": {{ port }},
				"tcp_fast_open": true,
				"sniff": true,
				"sniff_override_destination": true,
				"domain_strategy": "prefer_ipv4",
				"users": [
					{% for u in users %}
						{"name": "{{ u['uuid'] }}@hiddify.com", "uuid": "{{ u['uuid'] }}", "password": "{{ u['uuid'] }}"},
					{% endfor%}
				],
				"congestion_control": "cubic",
				"auth_timeout": "3s",
				"zero_rtt_handshake": true,
				"heartbeat": "10s",
				"tls": {
					"enabled": true,
					"server_name": "{{domain}}",
					"alpn": ["h3"],
					"min_version": "1.2",
					"max_version": "1.3",
					{% if exec("[ -f /opt/hiddify-manager/ssl/"+domain[0:64]+".crt ]&& echo -n 'true' || echo -n 'false'")=='true' %}
					"certificate_path": "/opt/hiddify-manager/ssl/{{domain[0:64]}}.crt",
					"key_path": "/opt/hiddify-manager/ssl/{{domain[0:64]}}.crt.key",
					{%else %}
					{%set cert=exec("ls /opt/hiddify-manager/ssl/*.crt | tail -1").strip()%}
					"certificate_path": "{{cert}}",
					"key_path": "{{cert}}.key",
					{%endif%}
				}
			},
			{%endfor%}
		]
	{% endif %}
}