{
	{% if hconfigs['hysteria_enable'] %}
		"inbounds": [
			{% for d in domains if d['internal_port_hysteria2']  %}
			{%set domain=d['domain']%}
			{%set port=d['internal_port_hysteria2']%}
			{
				"type": "hysteria2",
				"tag": "hysteria_in_{{port}}",
				"listen": "::",
				"listen_port": {{ port }},
				"up_mbps": {{ chconfigs[d['child_id']]['hysteria_up_mbps'] }},
				"down_mbps": {{ chconfigs[d['child_id']]['hysteria_down_mbps'] }},
				{% if chconfigs[d['child_id']]['hysteria_obfs_enable'] %}
				"obfs": {
					"type": "salamander",
					"password": "{{ hconfigs['proxy_path'] }}"
				},
				{%endif%}
				"users": [
					{% for u in users %}
						{"name": "{{ u['uuid'] }}@hiddify.com", "password": "{{ u['uuid'] }}"},
					{% endfor%}
				],
				"masquerade": "http://{{domain}}:80/",
				"tls": {
					"enabled": true,
					"server_name": "{{domain}}",
					"alpn": ["h3"],
					"min_version": "1.2",
					"max_version": "1.3",
					{% if exec("[ -f /opt/hiddify-manager/ssl/"+domain[0:64]+".crt ] && echo -n 'true' || echo -n 'false'")=='true' %}
					"certificate_path": "/opt/hiddify-manager/ssl/{{domain[0:64]}}.crt",
					"key_path": "/opt/hiddify-manager/ssl/{{domain[0:64]}}.crt.key",
					{%else %}
					{%set cert=exec("ls /opt/hiddify-manager/ssl/*.crt | tail -1").strip()%}
					"certificate_path": "{{cert}}",
					"key_path": "{{cert}}.key",
					{%endif%}
				}
			},
			{%endfor%}
		]
	{% endif %}
}