{
    {% if (hconfigs['shadowsocks2022_enable'] or hconfigs['ssfaketls_enable'] or hconfigs['shadowtls_enable']) and hconfigs['ws_enable'] %}
    // 	"inbounds": [
    // 		{
    // 			"tag":"ss-ws-new",
    // 			"listen": "@@ss-ws-new",
    // 			"protocol": "shadowsocks",
    // 			"settings": {
    // 				"clients":[
    //                  {% for u in users %}
    //    			        {"password": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com","method": "Chacha20-IETF-Poly1305"},
    //				    {% endfor%}
    // 				]
    // 			  },
    // 			"streamSettings": {
    // 			  "network": "ws",
    // 			  "security": "none",
    // 			  "wsSettings": {
    // 				"acceptProxyProtocol": true,
    // 				"path": "/{{ hconfigs['path_ss'] }}{{ hconfigs['path_ws'] }}"
    // 			  }
    // 			},
    // 			"sniffing": {
    // 			  "enabled": true,
    // 			  "destOverride": ["http","tls", "quic"]
    // 			}
    // 		  }	
    // 	  ]
    {% endif %}
}