{
	{% if hconfigs['shadowsocks2022_enable'] or hconfigs['ssfaketls_enable'] or hconfigs['shadowtls_enable'] %}
		"inbounds": [
			{
				"tag":"ss-new",
				"listen": {% if hconfigs['shadowsocks2022_enable']%}"::"{%else%}"127.0.0.1"{%endif%},
				"listen_port":{{hconfigs['shadowsocks2022_port']}},
				"tcp_fast_open": true,
				"sniff": true,
				"sniff_override_destination": true,
				"domain_strategy": "prefer_ipv4",
				"proxy_protocol":false,
				{% include '/opt/hiddify-manager/singbox/configs/common/protocols/ss.pj2' %},
				{% include "includes/multiplex.json.pj2"%}
			}
		]
	{% endif %}
}