{
  "outbounds": [
    {
      "tag": "freedom",
      "type": "direct"
    },
    {
      "tag": "direct",
      "type": "direct"
    },
    {
      "tag": "WARP",
      "type": "direct",
      "bind_interface": "warp"
    },
    // {
    //   "tag":"WARP",
    //   "type":"socks",
    //   "version": "5",
    //   "server":"127.0.0.1",
    //   "server_port":3000
    // },
    //hiddify!!!!_warp
    {
      "type": "block",
      "tag": "blackhole"
    },
    { //do not change the following line since it will be replaced.
      "tag": "forbidden_sites",
      "type": "{% if hconfigs['block_iran_sites'] %}block{% else %}direct{%endif%}"
    },
    {
      // A DNS Cache can be setup and added here to imporve performance (the corresponding rule should be uncommented)
      "tag": "DNS-Internal",
      "type": "dns"
    }
  ]
}