{
  "log": {
    "level": "info"
  },
  "listen": {
    "address": "0.0.0.0:53"
  },
  "tunnels": [
  {%for d in domains if d['mode']=="dnstt"%}
    {
      "tag": "{{d.domain}}",
      "enabled": true,
      "transport": "dnstt",
      "domain": "{{d.domain}}",
      "port": {{d['internal_port_dnstt']}}
    },
    {%endfor%}
  ],
  "route": {
    "mode": "multi"
  }
}