upstreams = []
show_link = []

[general]
ad_tag = "{{ hconfigs['telegram_adtag'] }}"
prefer_ipv6 = false
fast_mode = true
use_middle_proxy = false
middle_proxy_nat_probe = false
middle_proxy_nat_stun_servers = []
middle_proxy_pool_size = 2
middle_proxy_warm_standby = 0
me_keepalive_enabled = true
me_keepalive_interval_secs = 25
me_keepalive_jitter_secs = 5
me_keepalive_payload_random = true
me_warmup_stagger_enabled = true
me_warmup_step_delay_ms = 500
me_warmup_step_jitter_ms = 300
me_reconnect_max_concurrent_per_dc = 1
me_reconnect_backoff_base_ms = 500
me_reconnect_backoff_cap_ms = 30000
me_reconnect_fast_retry_count = 1
stun_iface_mismatch_ignore = false
unknown_dc_log_path = "unknown-dc.txt"
log_level = "normal"
disable_colors = false

[general.modes]
classic = true
secure = true
tls = true

[general.links]
show = []

[network]
ipv4 = true
prefer = 4
multipath = false

[server]
port = 1001
listen_addr_ipv4 = "127.0.0.1"
listen_addr_ipv6 = "::1"
proxy_protocol = true
metrics_port=10087
metrics_whitelist = [
    "127.0.0.1/32",
    "::1/128",
]
listeners = []

[timeouts]
client_handshake = 15
tg_connect = 10
client_keepalive = 60
client_ack = 300
me_one_retry = 3
me_one_timeout_ms = 1500

[censorship]
tls_domain = "{{ hconfigs['telegram_fakedomain'] }}"
#tls_domains = []
mask = true
mask_port = 443
fake_cert_len = 2048
tls_emulation = false
tls_front_dir = "tlsfront"

[access]
replay_check_len = 65536
replay_window_secs = 1800
ignore_time_skew = false

[access.users]
default = "{{ hconfigs['shared_secret'].replace("-","") }}"
{% for u in users %}
{{ u['uuid'].replace("-","") }} = "{{ u['uuid'].replace("-","") }}"
{% endfor%}

[access.user_max_tcp_conns]

[access.user_expirations]

[access.user_data_quota]

[access.user_max_unique_ips]

[dc_overrides]
