{
  "run_type": "server",
  "local_addr": "0.0.0.0",
  "local_port": 9443,
  "remote_addr": "127.0.0.1",
  "remote_port": 80,
  "password": ["defaultusersecret"],
  "ssl": {
    "cert": "/opt/GITHUB_REPOSITORY/nginx/selfsigned.crt",
    "key": "/opt/GITHUB_REPOSITORY/nginx/selfsigned.key",
    "sni": "defaultserverhost"
  },
  "websocket": {
    "enabled": true,
    "path": "/",
    "hostname": "defaultserverhost"
  }
}