[Unit]
Description=ss-server faketls
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=ss-server -c /opt/GITHUB_REPOSITORY/other/ssfaketls/config-faketls.json
Restart=on-failure
StandardOutput=file:/opt/GITHUB_REPOSITORY/log/system/ss-faketls.out.log
StandardError=file:/opt/GITHUB_REPOSITORY/log/system/ss-faketls.err.log
[Install]
WantedBy=multi-user.target
