{
    "inbounds": [
        {
            "listen": "127.0.0.1",
            "listen_port": 1231,
            "type": "socks",
            "tag": "socks-in"
        }
    ],
    "outbounds": [
        //hiddify_warp
    ]
}