[Unit]
Description=ss-server faketls
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/hiddify-manager/other/shadowtls
ExecStart=/opt/hiddify-manager/other/shadowtls/shadowtls
Environment=RUST_LOG=error
Environment=CONFIG_FILE=/opt/hiddify-manager/other/shadowtls/shadowtls.conf
Restart=on-failure
#StandardOutput=file:/opt/hiddify-manager/log/system/ssplugin-shadowtls.out.log
StandardOutput=null
StandardError=file:/opt/hiddify-manager/log/system/ssplugin-shadowtls.err.log
[Install]
WantedBy=multi-user.target
