[Unit]
Description=ss-server faketls
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/hiddify-config/other/shadowtls
ExecStart=/opt/hiddify-config/other/shadowtls/shadowtls server --listen 127.0.0.1:1003 --server 127.0.0.1:3005 --tls shadowtlsdomain --password BASE_PROXY_PATH --v3
Restart=on-failure
StandardOutput=file:/opt/GITHUB_REPOSITORY/log/system/ssplugin-shadowtls.out.log
StandardError=file:/opt/GITHUB_REPOSITORY/log/system/ssplugin-shadowtls.err.log
[Install]
WantedBy=multi-user.target
