[Unit]
Description=HiddifyCli service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'SUB_LINK=$(cat /opt/hiddify-manager/other/testers/SUB_LINK) && /opt/hiddify-manager/other/testers/HiddifyCli run -c $SUB_LINK'
StandardOutput=file:/opt/hiddify-manager/log/system/hiddify-cli.out.log
StandardError=file:/opt/hiddify-manager/log/system/hiddify-cli.err.log
[Install]
WantedBy=multi-user.target
