#!/bin/bash
pkill Hiddifycli > /dev/null

echo "Running HiddifyCli..."

panel_domain=$(echo "{{ panel_links[panel_links|length -1] }}" | sed 's|^https\?://\([^/]\+\).*|\1|')
proxy_path={{ hconfigs['proxy_path_client'] }}
user_uuid={{ users[0]['uuid'] }}
sub_link="https://$panel_domain/$proxy_path/$user_uuid/auto/"

./HiddifyCli run -c $sub_link > /dev/null &
echo "The HiddifyCli is running on port: 6756"