[Unit]
After=network.target nss-lookup.target

[Service]
User=liberty-bridge
WorkingDirectory=/opt/hiddify-manager/other/ssh/
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
ExecStart=/opt/hiddify-manager/other/ssh/ssh-liberty-bridge
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target