#!/bin/bash
source /opt/hiddify-manager/scripts/common/utils.sh

useradd -m hiddify-cli -s /bin/bash >/dev/null 2>&1

latest=$(get_release_version hiddify-core)

if [ "$(cat 'VERSION' 2>/dev/null)" != "$latest" ] || ! is_installed ./HiddifyCli; then
    echo "Downloading HiddifyCli..."
    pkg=$(dpkg --print-architecture)

    curl -sLo hiddify-core.tar.gz https://github.com/hiddify/hiddify-core/releases/download/v$latest/hiddify-core-linux-$pkg.tar.gz

    tar -xzf hiddify-core.tar.gz
    rm  hiddify-core.tar.gz
    mv hiddify-core-*/* ./
    echo $latest> VERSION
fi

ln -sf /opt/hiddify-manager/services/hiddify-cli/hiddify-cli.service /etc/systemd/system/hiddify-cli.service
systemctl enable hiddify-cli.service

systemctl stop hiddify-cli.service
systemctl disable hiddify-cli.service