{
        "log": {
                "loglevel": "{{hconfigs['log_level'].lower()}}",
                {%if hconfigs['log_level']=="CRITICAL"%}
                        "output": "none",
                        "error": "none",
                        "access": "none",
                        "dnsLog": false,
                {%endif%}
                "logid": true,
                "header": true,
        }
}
