{
        "log": {
                "loglevel": "error",
                //"loglevel": "debug",
                "output": "none",
                //"error": "/opt/hiddify-manager/log/system/xray.err.log",
                "access": "none",
                "logid": true,
                "header": true,
                "dnsLog": false
        }
}
