{
        "log": {
                "loglevel": "error",
                //"loglevel": "debug",
                //"output": "/opt/hiddify-server/log/system/xray.out.log",
                //"error": "/opt/hiddify-server/log/system/xray.err.log",
                //"access": "/opt/hiddify-server/log/system/xray.access.log",
                "logid": true,
                "header": true
        }
}