{
  "routing": {
    // "domainStrategy": "AsIs",
    "domainStrategy": "IPOnDemand",
    "domainMatcher":"hybrid",
    "settings": {
      "rules": [
        {
            "type": "field", 
            //"inboundTag": ["xtls"], 
            "outboundTag": "forbidden_sites",
            //ir "ip": ["geoip:ir"]
            //zh "ip": ["geoip:cn"]
            //other "ip": ["geoip:cn"]
        },
         {
                "type":"field",
                "outboundTag": "WARP",
                "domain":[
                    "geosite:google",
                    "geosite:netflix",
                    "geosite:spotify",
                    "geosite:nvidia",
                    "geosite:bytedance",
                    "domain:ip.gs",
                    "domain:kmplayer.com",
                    "domain:ipinfo.io",
                    "domain:openai.com",
                    "domain:ai.com",
                    "domain:freepik.com",
                    "domain:developer.mozilla.org",
                    "domain:behance.net"
                ]
            },
        {
            "type": "field",
            //"inboundTag": ["xtls"], 
            "outboundTag": "forbidden_sites",
            //ir "domain": ["tld-ir"]
            //zh "domain": ["geosite:cn","tld-cn"] 
            //other "ip": ["geoip:cn"]
        },
        {
          "inboundTag": ["api"], "outboundTag": "api", "type": "field"
        },
        {
          "type": "field", "outboundTag": "blackhole", "ip": ["geoip:private"]
        },
        { //DNS Cache rule
          "type": "field", "port": 53, "network": "tcp,udp", "outboundTag": "DNS-Internal"
        },
        {// Block BitTorrent protocol
          "type": "field", "outboundTag": "blackhole", "protocol": ["bittorrent"]
        }
      ]
    }
  }

}
