{
	"policy": {
		"levels": {
		  "0": {
		  //   "handshake": 4,
		  //   "connIdle": 300,
		  //   "uplinkOnly": 2,
		  //   "downlinkOnly": 5,
			"statsUserUplink": true,
			"statsUserDownlink": true,
	        "statsUserOnline": true

		  //   "bufferSize": 4
		  }
		},
		"system": {
		  "statsInboundUplink": true,
		  "statsInboundDownlink": true,
		  "statsOutboundUplink": true,
		  "statsOutboundDownlink": true
		}
	  }
}
