{
	{% if hconfigs['trojan_enable'] and hconfigs['ws_enable'] %}
		"inbounds": [
			{
				"tag":"trojan-ws-new",
				"listen": "@@trojan-ws-new", //trojan+ws listener process
				"protocol": "trojan",
				"settings": {
				"clients": [
					{% for u in users %}
						{"password": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
				]
				},
				"streamSettings": {
				"network": "ws",
				"security": "none",
				"wsSettings": {
					"acceptProxyProtocol": true, 
					"path":"/{{ hconfigs['path_trojan'] }}{{ hconfigs['path_ws'] }}", 
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}
		]
	{% endif %}
}