{
 {% if hconfigs['trojan_enable'] %}
	{% set has_old_xtls_direct = false %}
	{% for domain in hconfigs['domains'] %}
    	{% if domain.mode == "old_xtls_direct" %}
        	{% set has_old_xtls_direct = true %}
    	{% endif %}
	{% endfor %}
	
	{% if has_old_xtls_direct and hconfigs['h2_enable'] %}
		"inbounds": [
			{
				"tag":"dispatcher_h2",
				"listen": "@dispatcher_h2", 
				"protocol": "trojan",
				"settings": {
				"clients": [
					{% for u in users %}
						{"password": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
				],
				"fallbacks": [
					{
						"path": "/{{ hconfigs['path_vless'] }}{{ hconfigs['path_ws'] }}",
						"dest": "@@vless-ws-new",
						"xver": 2 
					},
					{
						"path": "/{{ hconfigs['path_vmess'] }}{{ hconfigs['path_ws'] }}",
						"dest": "@@vmess-ws-new",
						"xver": 2
					},
					{
						"path": "/{{ hconfigs['path_trojan'] }}{{ hconfigs['path_ws'] }}",
						"dest": "@@trojan-ws-new",
						"xver": 2
					},
					{
						"path": "/{{ hconfigs['path_ss'] }}{{ hconfigs['path_ws'] }}",
						"dest": "@@ss-ws-new",
						"xver": 2
					},
					{
						"path": "/{{ hconfigs['path_vless'] }}{{ hconfigs['path_tcp'] }}",
						"dest": "@@vless-tcp-new",
						"xver": 2
					},
					{
						"path": "/{{ hconfigs['path_vmess'] }}{{ hconfigs['path_tcp'] }}",
						"dest": "@@vmess-tcp-new",
						"xver": 2
					},
					{
						"path": "/{{ hconfigs['path_trojan'] }}{{ hconfigs['path_tcp'] }}",
						"dest": "@@trojan-tcp-new",
						"xver": 2
					},
					{
						"path": "/{{ hconfigs['path_ss'] }}{{ hconfigs['path_tcp'] }}",
						"dest": "@@ss-tcp-new",
						"xver": 2
					},
					{
						"dest": "/opt/hiddify-manager/nginx/run/h2.sock",
						"xver": 2
					}  
				]
				},
				"streamSettings": {
				"network": "tcp",
				"security": "none",
				"tcpSettings": {
					"acceptProxyProtocol": true 
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls","quic"]
				}
			}
		]
	{% endif %}
 {% endif %}
}