{
	{% if hconfigs['reality_enable'] %}
		"inbounds": [
			{% for d in domains if d['internal_port_reality'] and d['grpc'] %}
			{%set domain=d['domain']%}
			{%set port=d['internal_port_reality']%}
			{
				"tag":"realityingrpc_{{port}}",
				// "port": 400, // This is TLS entrypoint. This entrypoint does the SSL Termination then routes the request based on the Path or ALPN type.
				"listen": "@@realityingrpc_{{port}}",
				"protocol": "vless",
				"settings": {
				"decryption": "none",
				"clients": [
					{% for u in users %}
						{"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com","flow": ""},
					{% endfor %}				
				],
				"fallbacks": []
				},
				"streamSettings": {
				"network": "grpc",
				"grpcSettings": {
					"serviceName": "{{ hconfigs['path_vless'] }}{{ hconfigs['path_grpc'] }}"
				},
				"tcpSettings": {
					"acceptProxyProtocol": true 
				},
				"security": "reality", 
				"realitySettings": {
						"show": false, 
						"dest": "{{domain}}:443", 
						"xver": 0,
						"serverNames": [ 
							"{{domain}}"
						],
						"privateKey": "{{hconfigs['reality_private_key']}}",
						"shortIds": [ 
							"", 
							{%for sid in hconfigs['reality_short_ids'].split(',') %}
							"{{sid}}",
							{%endfor%} 
						]
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls","quic"]
				}
			},
			{%endfor%}
		]
	{% endif %}
}
