{
	{% if hconfigs['vless_enable'] and hconfigs['ws_enable'] %}
		"inbounds": [
			{
				"tag":"vless-ws-new",
				"listen": "@@vless-ws-new",
				"protocol": "vless",
				"settings": {
				"clients": [
					{% for u in users %}
						{"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
				],
				"decryption": "none"
				},
				"streamSettings": {
				"network": "ws",
				"security": "none",
				"wsSettings": {
					"acceptProxyProtocol": true,
					"path": "/{{ hconfigs['path_vless'] }}{{ hconfigs['path_ws'] }}", 
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}
		]
	{% endif %}
}