{
	{% if hconfigs['vless_enable'] and hconfigs['ws_enable'] and hconfigs['h2_enable'] %}
		"inbounds": [
			{
				"tag":"h2-vless-ws-new-proxy",
				"listen": "@@vless-ws-new-h2",
				//"listen": "/opt/hiddify-manager/xray/run/vlessw.sock,666",
				"protocol": "vless",
				"settings": {
				"clients": [
					{% for u in users %}
						{"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
				],
				"decryption": "none"
				},
				"streamSettings": {
				"network": "ws",
				"security": "none",
				"wsSettings": {
					"acceptProxyProtocol": true,
					"path": "/{{ hconfigs['path_vless'] }}{{ hconfigs['path_ws'] }}",
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}
		]
	{% endif %}
}