{
	"inbounds": [
		{
			"tag":"http",
			"listen": "@@xrayhttp", 
			//"listen":"0.0.0.0",
			//"port":"{{ hconfigs['http_ports'] or '80' }}",
			"protocol": "vless",
			"settings": {
			  "clients": [
    			{% for u in users %}
				    {"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com","flow": "xtls-rprx-vision"},
				{% endfor %}
			  ],
			  "decryption": "none",
			  "fallbacks": [
				{
				  "dest": "@dispatcher",
				  "xver": 2
				}
			  ]
			},
			"streamSettings": {
			  "network": "tcp",
			  "tcpSettings": {
				//"acceptProxyProtocol": true 
			  },
			  "security": "none"
			},
			"sniffing": {
			  "enabled": true,
			  "destOverride": ["http","tls","quic"]
			}
		  }
	]
}