{
	{% if hconfigs['trojan_enable'] and hconfigs['ws_enable'] and hconfigs['h2_enable'] %}
		"inbounds": [
			{
				"tag":"h2-trojan-ws-new-proxy",
				"listen": "@@trojan-ws-new-h2", //trojan+ws listener process
				//"listen": "/opt/hiddify-manager/xray/run/trojanw.sock,666",
				"protocol": "trojan",
				"settings": {
				"clients": [
					{% for u in users %}
						{"password": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
				]
				},
				"streamSettings": {
				"network": "ws",
				"security": "none",
				"wsSettings": {
					"acceptProxyProtocol": true, 
					"path": "/{{ hconfigs['path_trojan'] }}{{ hconfigs['path_ws'] }}", 
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}
		]
	{% endif %}
}