{
	{% if (hconfigs['shadowsocks2022_enable'] or hconfigs['ssfaketls_enable'] or hconfigs['shadowtls_enable']) and hconfigs['grpc_enable'] and hconfigs['h2_enable'] %}
		"inbounds": [
			{
				"tag": "h2-ss-grpc-new",
				//"listen": "@@v2ray-grpc-new", //Only listen on localhost
				"listen": "/opt/hiddify-manager/xray/run/ssg.sock,666",
				"protocol": "shadowsocks",
				"settings": {
					"clients":[
						{% for u in users %}
							{"password": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com","method": "Chacha20-IETF-Poly1305"},
						{% endfor %}
					]
				},
				"streamSettings": {
				"network": "grpc",
				"security": "none",
				"grpcSettings": {
					"serviceName": "{{ hconfigs['path_ss'] }}{{ hconfigs['path_grpc'] }}",  //Change to your own gRPC service name, similar to Path in HTTP/2.
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": [
					"http",
					"tls"
				]
				}
			}		  
		]
	{% endif %}
}