{
	{% if 0 and hconfigs['trojan_enable'] and hconfigs['xhttp_enable'] %}
		"inbounds": [
			{
				"tag":"trojan-xhttp-h2",
				{#"listen": "@@trojan-xhttp-h2", #}
			"listen": "127.0.0.1", "port":1016,
				"protocol": "trojan",
				"settings": {
				"clients": [
					{% for u in users %}
						{"password": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
				]
				},
				"streamSettings": {
				"network": "xhttp",
				"security": "none",
				"xhttpSettings": {
					{# "acceptProxyProtocol": true, #}
					"path":"/{{ hconfigs['path_trojan'] }}{{ hconfigs['path_xhttp'] }}2", 
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}
		]
	{% endif %}
}