{
	"inbounds": [
		{
			"tag": "h2-trojan-grpc-new",
			//"listen": "@@trojan-grpc-new", // listen on localhost
			"listen": "/opt/hiddify-config/xray/run/trojang.sock,666",
			"protocol": "trojan",
			"settings": {
			  "clients": [
				{"password": "defaultuserguidsecret", "email": "defaultuserguidsecret@hiddify.com"}
			  ]
			},
			"streamSettings": {
			  "network": "grpc",
			  "security": "none",
			  "grpcSettings": {
				"serviceName": "PATH_TROJANPATH_GRPC"
			  }
			}
		  }
	]
}