{
	{% if hconfigs['trojan_enable'] and hconfigs['grpc_enable'] and hconfigs['h2_enable'] %}
		"inbounds": [
			{
				"tag": "h2-trojan-grpc-new",
				//"listen": "@@trojan-grpc-new", // listen on localhost
				"listen": "/opt/hiddify-manager/xray/run/trojang.sock,666",
				"protocol": "trojan",
				"settings": {
				"clients": [
					{% for u in users %}
						{"password": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
				]
				},
				"streamSettings": {
				"network": "grpc",
				"security": "none",
				"grpcSettings": {
					"serviceName": "{{ hconfigs['path_trojan'] }}{{ hconfigs['path_grpc'] }}",
				}
				}
			}
		]
	{% endif %}
}