{
	"inbounds": [
		{
			"tag":"decoy",
			// "port": 400, // This is TLS entrypoint. This entrypoint does the SSL Termination then routes the request based on the Path or ALPN type.
			"listen": "@xtlsindecoy",
			"protocol": "vless",
			"settings": {
			  "decryption": "none",
			  "clients": [
			  ],
			  "fallbacks": [
				{
					"alpn": "h2",
					"dest": "/opt/hiddify-config/nginx/run/h2.sock",
					"xver": 2
				},
				{
				  "dest": "/opt/hiddify-config/nginx/run/h1.sock",
				  "xver": 2
				}
			  ]
			},
			"streamSettings": {
			  "network": "tcp",
			  "tcpSettings": {
				//"acceptProxyProtocol": true //Enable PROXY protocol reception, receive the real source IP and port from nginx sni proxy.
			  },
			  "security": "tls", 
			  "tlsSettings": {
				"certificates": [
				  {"ocspStapling": 3600, "certificateFile": "ssl.crt", "keyFile": "ssl.crt.key"}
				],
				"minVersion": "1.2", 
				"cipherSuites": "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256:TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256:TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384:TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384:TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256:TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256", 
				"alpn": [
				  "h2", 
				  "http/1.1" 
				]
			  }
			},
			"sniffing": {
			  "enabled": true,
			  "destOverride": ["http","tls", "quic"]
			}
		  }
	]
}