{
// 	"inbounds": [
// 		{
// 			"tag": "sniproxy-in",
// 			"port": 4430,
// 			"protocol": "dokodemo-door",
// 			"settings": {
// 			  "address": "0.0.0.0",
// 			  "port": 400,
// 			  "network": "tcp",
// 			  "followRedirect": false
// 			},
// 			"sniffing": {
// 			  "enabled": true,
// 			  "destOverride": ["tls"]
// 			}
// 		}
// 	]
}