{
	{% if hconfigs['vmess_enable'] and hconfigs['ws_enable'] %}
		"inbounds": [
			{
				"tag":"vmess-ws-new",
				"listen": "@@vmess-ws-new",
				"protocol": "vmess",
				"settings": {
				"clients": [
					{% for u in users %}
						{"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com", "alterId": 0},
					{% endfor %}
				]
				},
				"streamSettings": {
				"network": "ws",
				"security": "none",
				"wsSettings": {
					"acceptProxyProtocol": true,
					"path": "/{{ hconfigs['path_vmess'] }}{{ hconfigs['path_ws'] }}", 
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}
		]
	{% endif %}
}