{
	{% if hconfigs['vless_enable'] and hconfigs['splithttp_enable'] %}
		"inbounds": [
			{
				"tag":"vless-splithttp",
				 {#"listen": "@@vless-splithttp",#}
				 "listen": "/opt/hiddify-manager/xray/run/vless-splithttp.sock,666",
				{#"listen": "127.0.0.1", "port":1025,#}
				"protocol": "vless",
				"settings": {
				"clients": [
					{% for u in users %}
						{"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
				],
				"decryption": "none"
				},
				"streamSettings": {
				"network": "splithttp",
				"security": "none",
				"splithttpSettings": {
					{# "acceptProxyProtocol": true,#}
					"path": "/{{ hconfigs['path_vless'] }}{{ hconfigs['path_splithttp'] }}", 
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}
		]
	{% endif %}
}