{
  "inbounds": [
    {
      "tag": "quic",
      "port": 443,
      "listen":"127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
    		{% for u in users %}
          {"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
			  {% endfor %}
        ],
        "decryption": "none",
        "fallbacks": [
          {
            "dest": "@dispatcher",
            "xver": 2
          }
        ]
      },
      "streamSettings": {
        "network": "quic",
        "quicSettings": {},
        "security": "tls",
        "tlsSettings": {
          "certificates": [
          {%for d in domains if d['ssl']%}
				  	{"ocspStapling": 3600, "certificateFile": "/opt/hiddify-server/ssl/{{d.domain}}.crt", "keyFile": "/opt/hiddify-server/ssl/{{d.domain}}.crt.key"},
				  {%endfor%}
          ]
        }
      }
    }
  ]
}