{
  {% if (hconfigs['shadowsocks2022_enable'] or hconfigs['ssfaketls_enable'] or hconfigs['shadowtls_enable']) and hconfigs['ws_enable'] and hconfigs['h2_enable'] %}
  "inbounds": [
    {
      "tag": "h2-ss-xhttp-new-proxy",
      "listen": "@@v2ray-ws-new-h2",
      //"listen": "/opt/hiddify-manager/xray/run/ssw.sock,666",
      "protocol": "shadowsocks",
      "settings": {
        "clients": [
          {% for u in users %}
          {"password": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com", "method": "Chacha20-IETF-Poly1305"} {% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "none",
        "xhttpSettings": {
          "mode": "stream-up",
          "path": "/{{ hconfigs['path_ss'] }}{{ hconfigs['path_ws'] }}"
        },
        "tcpSettings": {
          "acceptProxyProtocol": true
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"]
      }
    }
  ]
  {% endif %}
}