{
  {% if hconfigs['vless_enable'] and hconfigs['ws_enable'] and hconfigs['h2_enable'] %}
  "inbounds": [
    {
      "tag": "h2-vless-xhttp-new-proxy",
      "listen": "@@vless-ws-new-h2",
      //"listen": "/opt/hiddify-manager/xray/run/vlessw.sock,666",
      "protocol": "vless",
      "settings": {
        "clients": [
          {% for u in users %}
          {"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"} {% if not loop.last %},{% endif %}
          {% endfor %}
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "none",
        "xhttpSettings": {
          "mode": "stream-up",
          "path": "/{{ hconfigs['path_vless'] }}{{ hconfigs['path_ws'] }}"
        },
        "tcpSettings": {
          "acceptProxyProtocol": true
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"]
      }
    }
  ]
  {% endif %}
}