{
	{% if 0 and hconfigs['vless_enable'] and hconfigs['xhttp_enable'] %}
		"inbounds": [
			{
				"tag":"vless-xhttp-h2",
				{# "listen": "@@vless-xhttp-h2",#}
				"listen": "127.0.0.1", "port":1026,
				"protocol": "vless",
				"settings": {
				"clients": [
					{% for u in users %}
						{"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
				],
				"decryption": "none"
				},
				"streamSettings": {
				"network": "xhttp",
				"security": "none",
				"xhttpSettings": {
					{# "acceptProxyProtocol": true,#}
					"path": "/{{ hconfigs['path_vless'] }}{{ hconfigs['path_xhttp'] }}2", 
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}
		]
	{% endif %}
}