{
  {% if hconfigs['vmess_enable'] and hconfigs['ws_enable'] %}
  "inbounds": [
    {
      "tag": "vmess-xhttp-new",
      "listen": "@@vmess-ws-new",
      "protocol": "vmess",
      "settings": {
        "clients": [
          {% for u in users %}
          {"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com", "alterId": 0} {% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      },
      "streamSettings": {
        "network": "xhttp",
        "security": "none",
        "xhttpSettings": {
          "mode": "stream-up",
          "path": "/{{ hconfigs['path_vmess'] }}{{ hconfigs['path_ws'] }}"
        },
        "tcpSettings": {
          "acceptProxyProtocol": true
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls", "quic"]
      }
    }
  ]
  {% endif %}
}