{
	{% if 0 and hconfigs['vless_enable'] and hconfigs['quic_enable'] %}
		"inbounds": [
			{
				"tag": "quic",
				"port": 443,
				"listen":"127.0.0.1",
				"protocol": "vless",
				"settings": {
					"clients": [
					{% for u in users %}
						{"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
					],
					"decryption": "none",
					"fallbacks": [
						{
							"dest": "@dispatcher",
							"xver": 2
						}
					]
				},
				"streamSettings": {
					"network": "quic",
					"quicSettings": {},
					"security": "tls",
					"tlsSettings": {
						"certificates": [
						{%for d in domains if d['need_valid_ssl']%}
							{"ocspStapling": 3600, 
					{% if exec("[ -f /opt/hiddify-manager/ssl/"+d.domain[0:64]+".crt ]&& echo -n 'true' || echo -n 'false'")=='true' %}
					"certificateFile": "/opt/hiddify-manager/ssl/{{d.domain[0:64]}}.crt", 
					"keyFile": "/opt/hiddify-manager/ssl/{{d.domain[0:64]}}.crt.key",
					{%else %}
					{%set cert=exec("ls /opt/hiddify-manager/ssl/*.crt | tail -1").strip()%}
					"certificateFile": "{{cert}}",
					"keyFile": "{{cert}}.key",
					{%endif%}
							},
						{%endfor%}
						]
					}
				}
			}
		]
	{% endif %}
}