{
	"inbounds": [
		{
			"tag":"h2-ss-ws-new",
			//"listen": "@@v2ray-ws-new",
			"listen": "/opt/hiddify-server/xray/run/ssw.sock,666",
			"protocol": "shadowsocks",
			"settings": {
				"clients":[
                    {% for u in users %}
					    {"password": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com","method": "Chacha20-IETF-Poly1305"},
                    {% endfor %}
				]
			  },
			"streamSettings": {
			  "network": "ws",
			  "security": "none",
			  "wsSettings": {
				//"acceptProxyProtocol": true,
				"path": "/{{ hconfigs['path_ss'] }}{{ hconfigs['path_ws'] }}",
			  }
			},
			"sniffing": {
			  "enabled": true,
			  "destOverride": ["http","tls", "quic"]
			}
		  }	
	  ]
}