{
	"inbounds": [
		{
			"tag": "h2-vmess-grpc-new",
			//"listen": "@vmess-grpc-new", // listen on localhost
			"listen": "/opt/hiddify-config/xray/run/vmessg.sock,666",
			"protocol": "vmess",
			"settings": {
			  "clients": [
				{"id": "defaultuserguidsecret", "email": "defaultuserguidsecret@hiddify.com", "level": 0}
			  ]
			},
			"streamSettings": {
			  "network": "grpc",
			  "security": "none",
			  "grpcSettings": {
				"serviceName": "PATH_VMESSPATH_GRPC"
			  }
			}
		  }	  
	  ]
}