{
	{% if (hconfigs['shadowsocks2022_enable'] or hconfigs['ssfaketls_enable'] or hconfigs['shadowtls_enable']) and hconfigs['tcp_enable'] and hconfigs['h2_enable'] %}
		"inbounds": [
			{
				"tag":"h2-ss-tcp-new",
				//"listen": "@@v2ray-ws-new",
				"listen": "/opt/hiddify-manager/xray/run/sst.sock,666",
				"protocol": "shadowsocks",
				"settings": {
					"clients":[
						{% for u in users %}
							{"password": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com","method": "Chacha20-IETF-Poly1305"},
						{% endfor %}
					]
				},
				"streamSettings": {
				"network": "ws",
				"security": "none",
				"wsSettings": {
					//"acceptProxyProtocol": true,
					"path": "/{{ hconfigs['path_ss'] }}{{ hconfigs['path_tcp'] }}",
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}	
		]
	{% endif %}
}