{
	{% if hconfigs['vmess_enable'] and hconfigs['xhttp_enable'] %}
		"inbounds": [
			{
				"tag":"vmess-xhttp",
				 {#"listen": "@@vmess-xhttp",#}
				 "listen": "/opt/hiddify-manager/xray/run/vmess-xhttp.sock,666",
				{#"listen": "127.0.0.1", "port":1035,#}
				"protocol": "vmess",
				"settings": {
				"clients": [
					{% for u in users %}
						{"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com", "alterId": 0},
					{% endfor %}
				]
				},
				"streamSettings": {
				"network": "xhttp",
				"security": "none",
				"xhttpSettings": {
					{#"acceptProxyProtocol": true,#}
					"path": "/{{ hconfigs['path_vmess'] }}{{ hconfigs['path_xhttp'] }}", 
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}	  
		]
	{% endif %}
}