{
	{% if hconfigs['vless_enable'] and hconfigs['tcp_enable'] %}
		"inbounds": [
					{
				"tag": "vless-new",
				"listen": "@@vless-tcp-new",
				"protocol": "vless",
				"settings": {
				"clients": [
					{% for u in users %}
						{"id": "{{ u['uuid'] }}", "email": "{{ u['uuid'] }}@hiddify.com"},
					{% endfor %}
				],
				"decryption": "none"
				},
				"streamSettings": {
				"network": "tcp",
				"security": "none",
				"tcpSettings": {
					"acceptProxyProtocol": true,
					"header": {
					"type": "http",
					"request": {
						"path": [
						"/{{ hconfigs['path_vless'] }}{{ hconfigs['path_tcp'] }}", 
						]
					}
					}
				}
				},
				"sniffing": {
				"enabled": true,
				"destOverride": ["http","tls", "quic"]
				}
			}	  
		]
	  {% endif %}
}