{
  "outbounds": [
    {
      {%if hconfigs["only_ipv4"]%}
      "domainStrategy":"UseIPv4v6",
      {%endif%}
      "tag": "freedom",
      "protocol": "freedom",
      "settings": {

      }
    },
    {
      {%if hconfigs["only_ipv4"]%}
      "domainStrategy":"UseIPv4v6",
      {%endif%}
      "tag": "WARP",
      "protocol": "freedom",
      "streamSettings": {
        "sockopt": {
          "tcpFastOpen": true,
          "interface": "warp"
        }
      }
    },
    // {
    //   "tag":"WARP",
    //   "protocol":"socks",
    //   "settings": {
    //     "servers": [
    //         {
    //             "address": "127.0.0.1",
    //             "port": 3000
    //         }
    //     ]
    //   }
    // },
    {
      "protocol": "blackhole",
      "tag": "blackhole"
    },
    { //do not change the following line since it will be replaced.
      "tag": "forbidden_sites",
      "protocol": "{% if hconfigs['block_iran_sites'] %}blackhole{% else %}freedom{%endif%}"
    },
    // {
    //   "tag": "forbidden_sites", "protocol": "blackhole",
    //   "settings": {
    //     "domainStrategy": "UseIPv4"
    //   },
    //   "sendThrough": "172.16.0.2"
    // },
    // {
    //   "tag": "WARP-CHATGPT",
    //   "protocol": "wireguard",
    //   "settings": {
    //     "secretKey": "cKE7LmCF61IhqqABGhvJ44jWXp8fKymcMAEVAzbDF2k=",
    //     "address": [
    //       "172.16.0.2/32",
    //       "fd01:5ca1:ab1e:823e:e094:eb1c:ff87:1fab/128"
    //     ],
    //     "peers": [
    //       {
    //         "publicKey": "bmXOC+F1FxEMF9dyiK2H5/1SUtzH0JuVo51h2wPfgyo=",
    //         "endpoint": "engage.cloudflareclient.com:2408"
    //       }
    //     ]
    //   }
    // },
    // {
    //   "tag": "warp",
    //   "protocol": "socks",
    //   "settings": {
    //       "servers": [
    //           {
    //               "address": "127.0.0.1",
    //               "port": 1080, 
    //               "users": []
    //           }
    //       ]
    //   }
    // },
    // {
    //   "tag": "WRAP",
    //   "protocol": "freedom",
    //   "settings": {
    //     "domainStrategy": "UseIPv4"
    //   },
    //   "sendThrough": "172.16.0.2"
    // },
    
    // {
    //   "tag": "localhost-tgproxy", "protocol": "freedom", "settings": {"redirect": "127.0.0.1:1001"}
    // },
    // {
    //   "tag": "localhost-faketls", "protocol": "freedom", "settings": {"redirect": "127.0.0.1:1002" }
    // },
    // {
    //   "tag": "other-sni", "protocol": "freedom", "settings": {"redirect": "127.0.0.1:445"}
    // },
    {
      // A DNS Cache can be setup and added here to imporve performance (the corresponding rule should be uncommented)
      "tag": "DNS-Internal",
      "protocol": "dns",
      "settings": {
        "port": 53
      }
    }
  ]
}