{
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    },
    {
      "protocol": "blackhole",
      "tag": "blackhole"
    },
    {
      "tag": "forbidden_sites",
      "protocol": "blackhole"
    },
    {
      "tag": "WARP-CHATGPT",
      "protocol": "wireguard",
      "settings": {
        "secretKey": "cKE7LmCF61IhqqABGhvJ44jWXp8fKymcMAEVAzbDF2k=",
        "address": [
          "172.16.0.2/32",
          "fd01:5ca1:ab1e:823e:e094:eb1c:ff87:1fab/128"
        ],
        "peers": [
          {
            "publicKey": "bmXOC+F1FxEMF9dyiK2H5/1SUtzH0JuVo51h2wPfgyo=",
            "endpoint": "engage.cloudflareclient.com:2408"
          }
        ]
      }
    },
    {
      "tag": "WRAP",
      "protocol": "freedom",
      "settings": {
        "domainStrategy": "UseIPv4"
      },
      "sendThrough": "172.16.0.2"
    },
    // {
    //   "tag": "localhost-xtls", "protocol": "freedom", "settings": { "redirect": "127.0.0.1:400" }
    // },
    // {
    //   "tag": "localhost-tgproxy", "protocol": "freedom", "settings": {"redirect": "127.0.0.1:1001"}
    // },
    // {
    //   "tag": "localhost-faketls", "protocol": "freedom", "settings": {"redirect": "127.0.0.1:1002" }
    // },
    // {
    //   "tag": "other-sni", "protocol": "freedom", "settings": {"redirect": "127.0.0.1:445"}
    // },
    {
      // A DNS Cache can be setup and added here to imporve performance (the corresponding rule should be uncommented)
      "tag": "DNS-Internal",
      "protocol": "dns",
      "settings": {
        "address": "127.0.0.53",
        "port": 53
      }
    }
  ]
}