{
  "outbounds": [
    {
      {%if hconfigs["only_ipv4"]%}
      "domainStrategy":"UseIPv4v6",
      {%endif%}
      "tag": "freedom",
      "protocol": "freedom",
      "settings": {

      }
    },
    {
      {%if hconfigs["only_ipv4"]%}
      "domainStrategy":"UseIPv4v6",
      {%endif%}
      "tag": "WARP",
      "protocol": "freedom",
      "streamSettings": {
        "sockopt": {
          "tcpFastOpen": true,
          "interface": "warp"
        }
      }
    },
    {
      "protocol": "blackhole",
      "tag": "blackhole"
    },
    {
      "tag": "forbidden_sites",
      "protocol": "{% if hconfigs['block_iran_sites'] %}blackhole{% else %}freedom{%endif%}"
    },
    {
      "tag": "DNS-Internal",
      "protocol": "dns",
      "settings": {
        "address": "{{hconfigs['dns_server'] or '1.1.1.1'}}",
        "port": 53
      }
    }
  ]
}