# set_real_ip_from unix:;
# set_real_ip_from 127.0.0.1;
# real_ip_header proxy_protocol;
#access_log /opt/hiddify-server/log/nginx.log proxy;
#include /opt/hiddify-server/nginx/ar_real_ip.conf;

location @handle_redirect {
    set $saved_redirect_location '$upstream_http_location';
    proxy_pass $saved_redirect_location;
}
include /opt/hiddify-server/nginx/parts/acme.conf;
include /opt/hiddify-server/nginx/parts/def-link.conf;
include /opt/hiddify-server/nginx/parts/common.conf;
include /opt/hiddify-server/nginx/parts/short-link.conf;


