    location /{{ hconfigs['path_vless'] }}{{ hconfigs['path_grpc'] }}{
        include /opt/hiddify-server/nginx/parts/grpc.conf;
        grpc_pass unix:/opt/hiddify-server/xray/run/vlessg.sock;
    }
    location /{{ hconfigs['path_vmess'] }}{{ hconfigs['path_grpc'] }} {
        include /opt/hiddify-server/nginx/parts/grpc.conf;
        grpc_pass unix:/opt/hiddify-server/xray/run/vmessg.sock;
    }
    location /{{ hconfigs['path_ss'] }}{{ hconfigs['path_grpc'] }} {
        include /opt/hiddify-server/nginx/parts/grpc.conf;
        grpc_pass unix:/opt/hiddify-server/xray/run/ssg.sock;
    }
    location /{{ hconfigs['path_trojan'] }}{{ hconfigs['path_grpc'] }} {
        include /opt/hiddify-server/nginx/parts/grpc.conf;
        grpc_pass unix:/opt/hiddify-server/xray/run/trojang.sock;
    }

    location /{{ hconfigs['path_vless'] }}{{ hconfigs['path_tcp'] }} {
        include /opt/hiddify-server/nginx/parts/tcph2.conf;
        proxy_pass http://unix:/opt/hiddify-server/xray/run/vlesst.sock;
    }
    location /{{ hconfigs['path_vmess'] }}{{ hconfigs['path_tcp'] }} {
        include /opt/hiddify-server/nginx/parts/tcph2.conf;
        proxy_pass http://unix:/opt/hiddify-server/xray/run/vmesst.sock;
    }
    location /{{ hconfigs['path_ss'] }}{{ hconfigs['path_tcp'] }} {
        include /opt/hiddify-server/nginx/parts/tcph2.conf;
        proxy_pass http://unix:/opt/hiddify-server/xray/run/sst.sock;
    }
    location /{{ hconfigs['path_trojan'] }}{{ hconfigs['path_tcp'] }} {
        include /opt/hiddify-server/nginx/parts/tcph2.conf;
        proxy_pass http://unix:/opt/hiddify-server/xray/run/trojant.sock;
    }

    location /{{ hconfigs['path_vless'] }}{{ hconfigs['path_ws'] }} {
        include /opt/hiddify-server/nginx/parts/wsh2.conf;
        proxy_pass http://unix:/opt/hiddify-server/xray/run/vlesst.sock;
    }
    location /{{ hconfigs['path_vmess'] }}{{ hconfigs['path_ws'] }} {
        include /opt/hiddify-server/nginx/parts/wsh2.conf;
        proxy_pass http://unix:/opt/hiddify-server/xray/run/vmessw.sock;
    }
    location /{{ hconfigs['path_ss'] }}{{ hconfigs['path_ws'] }} {
        include /opt/hiddify-server/nginx/parts/wsh2.conf;
        proxy_pass http://unix:/opt/hiddify-server/xray/run/ssw.sock;
    }
    location /{{ hconfigs['path_trojan'] }}{{ hconfigs['path_ws'] }} {
        include /opt/hiddify-server/nginx/parts/wsh2.conf;
        proxy_pass http://unix:/opt/hiddify-server/xray/run/trojanw.sock;
    }