    location /{{ hconfigs['path_vless'] }}{{ hconfigs['path_grpc'] }}{
        include /opt/hiddify-manager/nginx/parts/grpc.conf;
        grpc_pass unix:/opt/hiddify-manager/xray/run/vlessg.sock;
    }
    location /{{ hconfigs['path_vmess'] }}{{ hconfigs['path_grpc'] }} {
        include /opt/hiddify-manager/nginx/parts/grpc.conf;
        grpc_pass unix:/opt/hiddify-manager/xray/run/vmessg.sock;
    }
    location /{{ hconfigs['path_ss'] }}{{ hconfigs['path_grpc'] }} {
        include /opt/hiddify-manager/nginx/parts/grpc.conf;
        grpc_pass unix:/opt/hiddify-manager/xray/run/ssg.sock;
    }
    location /{{ hconfigs['path_trojan'] }}{{ hconfigs['path_grpc'] }} {
        include /opt/hiddify-manager/nginx/parts/grpc.conf;
        grpc_pass unix:/opt/hiddify-manager/xray/run/trojang.sock;
    }

    location /{{ hconfigs['path_vless'] }}{{ hconfigs['path_tcp'] }} {
        include /opt/hiddify-manager/nginx/parts/tcph2.conf;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/vlesst.sock;
    }
    location /{{ hconfigs['path_vmess'] }}{{ hconfigs['path_tcp'] }} {
        include /opt/hiddify-manager/nginx/parts/tcph2.conf;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/vmesst.sock;
    }
    location /{{ hconfigs['path_ss'] }}{{ hconfigs['path_tcp'] }} {
        include /opt/hiddify-manager/nginx/parts/tcph2.conf;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/sst.sock;
    }
    location /{{ hconfigs['path_trojan'] }}{{ hconfigs['path_tcp'] }} {
        include /opt/hiddify-manager/nginx/parts/tcph2.conf;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/trojant.sock;
    }

    location /{{ hconfigs['path_vless'] }}{{ hconfigs['path_ws'] }} {
        include /opt/hiddify-manager/nginx/parts/wsh2.conf;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/vlesst.sock;
    }
    location /{{ hconfigs['path_vmess'] }}{{ hconfigs['path_ws'] }} {
        include /opt/hiddify-manager/nginx/parts/wsh2.conf;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/vmessw.sock;
    }
    location /{{ hconfigs['path_ss'] }}{{ hconfigs['path_ws'] }} {
        include /opt/hiddify-manager/nginx/parts/wsh2.conf;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/ssw.sock;
    }
    location /{{ hconfigs['path_trojan'] }}{{ hconfigs['path_ws'] }} {
        include /opt/hiddify-manager/nginx/parts/wsh2.conf;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/trojanw.sock;
    }

{%if hconfigs['splithttp_enable']%}
    location /{{ hconfigs['path_vmess'] }}{{ hconfigs['path_splithttp'] }} {
        include /opt/hiddify-manager/nginx/parts/splithttp.conf;
        #proxy_pass http://127.0.0.1:1035;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/vmess-splithttp.sock;
    }
    location /{{ hconfigs['path_vless'] }}{{ hconfigs['path_splithttp'] }} {
        include /opt/hiddify-manager/nginx/parts/splithttp.conf;
        #proxy_pass http://127.0.0.1:1025;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/vless-splithttp.sock;
    }
    {#location #/{{ hconfigs['path_ss'] }}{{ hconfigs['path_splithttp'] }} {
        include /opt/hiddify-manager/nginx/parts/splithttp.conf;
        v2rayhs_h2
    }#}
    location /{{ hconfigs['path_trojan'] }}{{ hconfigs['path_splithttp'] }} {
        include /opt/hiddify-manager/nginx/parts/splithttp.conf;
        #proxy_pass http://127.0.0.1:1015;
        proxy_pass http://unix:/opt/hiddify-manager/xray/run/trojan-splithttp.sock;
    }

    
{%endif%}





