{
	"disable_nodelay": false,
	"fastopen": true,
	"v3": true,
	"strict": true,
	"server": {
		"listen": "localhost:1003",
		"server_addr": "localhost:3005",
		"tls_addr": {
			"wildcard_sni": "off",
			"dispatch": {
				"shadowtlsdomain": "{{ hconfigs['shadowtls_fakedomain'] }}:443"
			},
			"fallback": "{{ hconfigs['shadowtls_fakedomain'] }}:443"
		},
		"password": "{{ hconfigs['proxy_path'] }}",
		"wildcard_sni": "authed"
	}
}