{%for d in domain if d['mode']=='sub_link_only'%} 
d['domain'] to_panel_only
{%endfor%}


{% for d in domains if d['internal_port_special'] %}
{# if happen, it means active probing... sending to decoy#}
{%set domain=d['domain']%}
{%set port=d['internal_port_special']%}
{{domain}}  sp_{{d['mode']}}_http_{{port}}
{%endfor%}


{%if hconfigs['ssfaketls_enable'] and hconfigs['ssfaketls_fakedomain'] %}
{# if happen, it means active probing... sending to decoy#}
{{hconfigs['ssfaketls_fakedomain']}} ssdecoy_http
{%endif%}

{%if hconfigs['telegram_enable'] and hconfigs['telegram_fakedomain'] %}
{# if happen, it means active probing... sending to decoy#}
{{hconfigs['telegram_fakedomain']}} tgdecoy_http
{%endif%}

{%if hconfigs['shadowtls_enable'] and hconfigs['shadowtls_fakedomain']%}
{# if happen, it means active probing... sending to decoy#}
{{hconfigs['shadowtls_fakedomain'] }} shadowtls_decoy_http
{%endif%}