location = / {

	
	# proxy_redirect / /;
    #proxy_intercept_errors on;
	error_page 301 302 307 = @handle_redirect;
	proxy_set_header Host {{ hconfigs['decoy_domain'] }};
	set $upstream {{ hconfigs['decoy_domain'] }};
	proxy_pass https://$upstream;
        proxy_ssl_server_name on;
        proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

	# proxy_buffering        on;
	# proxy_cache            STATIC;
	# proxy_cache_valid      200  1d;
	# proxy_cache_use_stale  error timeout invalid_header updating
	# 					   http_500 http_502 http_503 http_504;
	
}
location / {
	# proxy_redirect / /; 
    proxy_intercept_errors on;
	error_page 301 302 307 = @handle_redirect;
	proxy_set_header Host {{ hconfigs['decoy_domain'] }};
	set $upstream {{ hconfigs['decoy_domain'] }};
	proxy_pass https://$upstream;
        proxy_ssl_server_name on;
        proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
	# proxy_buffering        on;
	# proxy_cache            STATIC;
	# proxy_cache_valid      200  1d;
	# proxy_cache_use_stale  error timeout invalid_header updating
	# 					   http_500 http_502 http_503 http_504;
	
}
{% if hconfigs['first_setup'] and hconfigs['create_easysetup_link']%}
location /hiddify {	
		{% set  nextH=exec("printf '%02d' $(($(date '+%H') + 1))") %}
		{% set  nowDatetime=exec('date "+%Y-%m-%dT(%H|"') %}
		{% set  TEMP_LINK_VALID_TIME= nowDatetime + nextH + ")"%}
		if ($time_iso8601 ~ "^{{TEMP_LINK_VALID_TIME}}" ) {
			add_header Content-Type text/html;
			return 200 "{{admin_path}}quick-setup/ <script> document.location='{{ admin_path }}quick-setup/?changepw=true'</script>";
			#return 307  {{ hconfigs['admin_secret'] }}/config;
		}
}
{% endif %}