{
  "run_type": "server",
  "local_addr": "127.0.0.1",
  "local_port": 1005,
  "remote_addr": "127.0.0.1",
  "remote_port": 80,
  "password": ["1"],
  "ssl": {
    "cert": "/opt/GITHUB_REPOSITORY/nginx/ssl.crt",
    "key": "/opt/GITHUB_REPOSITORY/nginx/ssl.key",
    "sni": "defaultserverhost"
  },
  "websocket": {
    "enabled": true,
    "path": "/",
    "hostname": "defaultserverhost"
  },
  "mux": {
    "enabled": true
  }
}
