
for svc in hiddify-dnstt-*.service; do
    systemctl stop "$svc"
    rm -rf svc
done

{%for d in domains if d['mode']=="dnstt"%}
cat << EOF > hiddify-dnstt-{{d.domain}}.service
[Unit]
Description=dnstm tunnel: dnstm-dnstt-socks
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=dnstt
Group=dnstt
ExecStart=/opt/hiddify-manager/services/dnstt/dnstt-server -udp 127.0.0.1:{{d['internal_port_dnstt']}} -privkey {{hconfigs['dnstt_private_key']}} -mtu {{d.extra_params.get("mtu",1232)}} -clientid-size {{d.extra_params.get("clientid_size",2)}}  {{ "-dnstt-compat" if d.extra_params.get("dnstt_compat", False) else "" }}  -domain {{d.domain}} -upstream 127.0.0.1:2001 -keepalive {{d.extra_params.get("keepalive",2)}}s  -idle-timeout {{d.extra_params.get("idle_timeout",10)}}s -record-type {{d.extra_params.get("record_type","txt")}}
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

# Security hardening
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ReadOnlyPaths=/opt/hiddify-manager/services/dnstt/server.key
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
MemoryDenyWriteExecute=yes
LockPersonality=yes

[Install]
WantedBy=multi-user.target

EOF


ln -sf  $(pwd)/hiddify-dnstt-{{d.domain}}.service /etc/systemd/system/hiddify-dnstt-{{d.domain}}.service

systemctl daemon-reload
systemctl enable hiddify-dnstt-{{d.domain}}.service
systemctl restart hiddify-dnstt-{{d.domain}}.service

{%endfor%}

chown dnstt:dnstt -R dnstm_configs

ln -sf  $(pwd)/hiddify-dnstm-router.service /etc/systemd/system/hiddify-dnstm-router.service
systemctl enable hiddify-dnstm-router.service
systemctl restart hiddify-dnstm-router.service