{% include '/opt/hiddify-manager/haproxy/common.cfg.pj2' %}
{% if hconfigs['core_type'] == 'xray' %}
{% include '/opt/hiddify-manager/haproxy/xray.cfg.pj2' %}
{%else%}
{% include '/opt/hiddify-manager/haproxy/singbox.cfg.pj2' %}
{%endif%}