# systemctl enable mtproxy.service
# systemctl restart mtproxy.service
#cd mtproto_proxy
#sudo make update-sysconfig 
#sudo systemctl enable mtproto-proxy
#sudo systemctl restart mtproto-proxy

rm -rf mtproto_proxy

{% if hconfigs['telegram_adtag']%}
    bash install_mtproxy.sh -p 1001 -s {{ hconfigs['shared_secret'].replace("-","") }} -t {{ hconfigs['telegram_adtag'] }} -a tls -d {{ hconfigs['telegram_fakedomain'] }} > /dev/null 2>&1
{% else %}
echo "y\n" | bash install_mtproxy.sh -p 1001 -s {{ hconfigs['shared_secret'].replace("-","") }} -a tls -d {{ hconfigs['telegram_fakedomain'] }} > /dev/null 2>&1
{% endif %}

rm -rf mtproto_proxy.tar.gz

chmod 600  prod-sys.config
yes | cp -f prod-sys.config mtproto_proxy/config/prod-sys.config
