[Unit]
Description=mtg - MTProto proxy server
Documentation=https://github.com/9seconds/mtg
After=network.target

[Service]
ExecStart=/opt/hiddify-manager/other/telegram/tgo/mtg run /opt/hiddify-manager/other/telegram/tgo/mtg.toml
Restart=always
RestartSec=3
DynamicUser=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
StandardOutput=file:/opt/hiddify-manager/log/system/telegram.out.log
StandardError=file:/opt/hiddify-manager/log/system/telegram.err.log
[Install]
WantedBy=multi-user.target