sub_filter    usersecret defaultusersecret;
sub_filter    userguidsecret defaultuserguidsecret;
sub_filter    serverip defaultserverip;
sub_filter    proxyproviderip $host;
sub_filter    cloudprovider defaultcloudprovider;
sub_filter    %%HEX_TELEGRAM_DOMAIN%% hextelegramdomain;
sub_filter    "host: www.google.com" "host: sstlsdomain";