server {
	listen 80 ;
	include /opt/GITHUB_REPOSITORY/nginx/admin-link.conf;
	include /opt/GITHUB_REPOSITORY/nginx/def-link.conf;
}
log_format proxy '[$time_local] $proxy_protocol_addr '
                 '$upstream_addr $status $bytes_sent $request_length $request_time';
server {

	listen 80;
	server_name defaultserverhost;
  	include /opt/GITHUB_REPOSITORY/nginx/common.conf;
	include /opt/GITHUB_REPOSITORY/nginx/admin-link.conf;
	include /opt/GITHUB_REPOSITORY/nginx/def-link.conf;
	
	listen 444 ssl http2 proxy_protocol;
	ssl_certificate /opt/GITHUB_REPOSITORY/nginx/selfsigned.crt; 
	ssl_certificate_key /opt/GITHUB_REPOSITORY/nginx/selfsigned.key;
	
	access_log /opt/GITHUB_REPOSITORY/log/nginx.log proxy;
	include /opt/GITHUB_REPOSITORY/nginx/CDN_NAME_real_ip.conf;


    

}
