server {
	listen 80 ;
	location / {
		proxy_pass http://telegramtlsdomain;
	}
}

server {

	listen 80;
	server_name defaultserverhost;
  	include /opt/GITHUB_REPOSITORY/nginx/common.conf;
	listen 444 ssl http2;
	ssl_certificate /opt/GITHUB_REPOSITORY/nginx/selfsigned.crt; 
	ssl_certificate_key /opt/GITHUB_REPOSITORY/nginx/selfsigned.key;
	
}
