
# HTTP1 UDS listener
server {
    listen 127.0.0.1:501 proxy_protocol; #HTTP/1.1 server monitor process and enable PROXY protocol reception
    listen unix:/opt/hiddify-manager/nginx/run/h1.sock proxy_protocol;
    server_name _;
    include /opt/hiddify-manager/nginx/parts/hiddify.conf;
    set_real_ip_from unix:;
    real_ip_header proxy_protocol;
}

# HTTP2 UDS listener
server {
    listen 127.0.0.1:502 proxy_protocol; #H2C server monitor process and enable PROXY protocol reception
    listen unix:/opt/hiddify-manager/nginx/run/h2.sock proxy_protocol;
    http2 on;
    server_name _;
    set_real_ip_from unix:;
    real_ip_header proxy_protocol;
    include /opt/hiddify-manager/nginx/parts/proxy_path.conf;
    
    # Decoy website
    include /opt/hiddify-manager/nginx/parts/hiddify.conf;
}

server {
    listen unix:/opt/hiddify-manager/nginx/run/nginx_cdn_dispatcher.sock;
    set_real_ip_from unix:;
    real_ip_header "X-Real-IP";
    include /opt/hiddify-manager/nginx/parts/proxy_path.conf;   
    # Decoy website
    include /opt/hiddify-manager/nginx/parts/hiddify.conf;
}

server {
    listen unix:/opt/hiddify-manager/nginx/run/nginx_cdn_dispatcher_h2.sock;
    http2 on;
    set_real_ip_from unix:;
    real_ip_header "X-Real-IP";
    include /opt/hiddify-manager/nginx/parts/proxy_path.conf;   
    # Decoy website
    include /opt/hiddify-manager/nginx/parts/hiddify.conf;
}