[Unit]
After=network.target nss-lookup.target

[Service]
User=root
WorkingDirectory=/opt/hiddify-manager/other/warp/singbox/
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
ExecStart=/opt/hiddify-manager/singbox/sing-box run -c warp-singbox.json
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target