source /opt/hiddify-manager/common/utils.sh

allow_port "tcp" 22
allow_port "tcp" 80
allow_port "tcp" 443
allow_port "udp" 443
allow_port "udp" 53
allow_port "tcp" 53
# allow_port "udp" 3478

add2iptables "INPUT -p udp -m udp -m conntrack --ctstatus SEEN_REPLY,ASSURED,CONFIRMED -j ACCEPT"
add2ip6tables "INPUT -p udp -m udp -m conntrack --ctstatus SEEN_REPLY,ASSURED,CONFIRMED -j ACCEPT"


add2iptables "OUTPUT -p udp -j ACCEPT"
add2ip6tables "OUTPUT -p udp -j ACCEPT"

add2iptables "OUTPUT -p tcp -j ACCEPT"
add2ip6tables "OUTPUT -p tcp -j ACCEPT"

add2iptables "INPUT -i lo -j ACCEPT"
add2ip6tables "INPUT -i lo -j ACCEPT"


{% for d in domains if d['internal_port_hysteria2'] or d['internal_port_tuic']  %}
  {% if d['internal_port_hysteria2']>0 %}
  allow_port "udp" {{d['internal_port_hysteria2']}}
  {%endif%}

  {% if d['internal_port_tuic']>0 %}
  allow_port "udp" {{d['internal_port_tuic']}}
  {%endif%}
{%endfor%}

# ICMP for ipv4
add2iptables "INPUT -p icmp -m icmp --icmp-type 0 -m conntrack --ctstate NEW -j ACCEPT"
add2iptables "INPUT -p icmp -m icmp --icmp-type 3 -m conntrack --ctstate NEW -j ACCEPT"
add2iptables "INPUT -p icmp -m icmp --icmp-type 11 -m conntrack --ctstate NEW -j ACCEPT"
add2iptables "INPUT -p icmp -m icmp --icmp-type 12 -m conntrack --ctstate NEW -j ACCEPT"

# ICMP for ipv6
add2ip6tables "INPUT -p ipv6-icmp --icmpv6-type 128 -m conntrack --ctstate NEW -j ACCEPT"
add2ip6tables "INPUT -p ipv6-icmp --icmpv6-type 129 -m conntrack --ctstate NEW -j ACCEPT"
add2ip6tables "INPUT -p ipv6-icmp --icmpv6-type 1 -m conntrack --ctstate NEW -j ACCEPT"
add2ip6tables "INPUT -p ipv6-icmp --icmpv6-type 4 -m conntrack --ctstate NEW -j ACCEPT"
add2ip6tables "INPUT -p ipv6-icmp --icmpv6-type 2 -m conntrack --ctstate NEW -j ACCEPT"

allow_apps_ports "sshd"
allow_apps_ports "x-ui"

add2iptables "INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT"
add2ip6tables "INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT"

add2iptables "INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT"
add2ip6tables "INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT"

# Check if SSH server should be enabled
{% if hconfigs['ssh_server_enable'] %}
  allow_port "tcp" {{hconfigs['ssh_server_port']}}
{%else%}
  remove_port "tcp" {{hconfigs['ssh_server_port']}}
{%endif%}

{% for port in (hconfigs['tls_ports']+","+ hconfigs['http_ports']).split(',') if port %}
  allow_port "tcp" {{port}}
{%endfor%}
{# {% for port in (hconfigs['tls_ports']).split(',') if port %}
  allow_port "udp" {{port}}
{%endfor%} #}

# Check if PasswordAuthentication is enabled
if ! grep -Fxq "PasswordAuthentication no" /etc/ssh/sshd_config; then
  # @hiddify/@iam54r1n4 make a better message with a link to why should disable pass-auth
  WARNING_MSG="Your server is vulnerable to abuses because PasswordAuthentication is enabled. To secure your server, please switch to key authentication mechanism and turn off PasswordAuthentication in your ssh config file."

  # Keep the orginal motd file as motd.org
  if [ -f /etc/motd ]; then
    MOTD_CONTENT=$(cat /etc/motd)
    if [[ "$MOTD_CONTENT" != "$WARNING_MSG" ]]; then
      mv /etc/motd /etc/motd.org
    fi
  fi

  # Create new /etc/motd file
  error "$WARNING_MSG" >/etc/motd 2>&1
else
  # Show orginal /etc/motd
  MOTD_CONTENT=$(cat /etc/motd)
  if [[ "$MOTD_CONTENT" == "$WARNING_MSG" ]]; then
    rm /etc/motd
    mv /etc/motd.org /etc/motd
  fi
fi
# Restart sshd/ssh
sudo systemctl restart sshd.service
sudo systemctl restart ssh.service

{% if hconfigs['firewall'] %}
  iptables -P INPUT DROP
  iptables -P FORWARD DROP
  ip6tables -P INPUT DROP
  ip6tables -P FORWARD DROP
  # ip6tables -P INPUT ACCEPT
{%else%}
  iptables -P INPUT ACCEPT
  iptables -P FORWARD ACCEPT
  ip6tables -P FORWARD ACCEPT
  ip6tables -P INPUT ACCEPT
{%endif%}

save_firewall

#add2iptables "INPUT -p tcp --dport 9000 -j DROP"

{% if hconfigs['auto_update'] %}
  echo "0 3 * * * root $(pwd)/../update.sh" >/etc/cron.d/hiddify_auto_update
  service cron reload
{%else%}
  rm -rf /etc/cron.d/hiddify_auto_update
  service cron reload
{%endif%}

