{
    "log": {
        "level": "trace"
    },
    "inbounds": [
        {
            "type": "mixed",
            "tag": "mixed-in",
            "listen": "::",
            "listen_port": 10000,
            "domain_strategy": "ipv4_only",
            "set_system_proxy": false
        }
    ],
    "outbounds": [
        {
            "type": "trojan",
            "tag": "trojan-out",
            "server": "127.0.0.1",
            "server_port": 2013,
            "password": "defaultuserguidsecret",
            "network": "tcp",
            "transport": {
                "type": "grpc",
				"service_name": "PATH_TROJANPATH_GRPC",
				"idle_timeout": "15s",
				"ping_timeout": "15s"
            }
          
           
          }
    ]
}
