{
    "server":"0.0.0.0",
    "server_port":448,
    "password":"defaultusersecret",
    "timeout":300,
    "plugin":"/opt/GITHUB_REPOSITORY/shadowsocks/v2ray-plugin_linux_amd64",
    "plugin_opts":"server;path=/;loglevel=none",
    "method":"chacha20-ietf-poly1305"
}
