[Unit]
Description=video-mitm
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/GITHUB_REPOSITORY/video-mitm
ExecStart=/opt/GITHUB_REPOSITORY/video-mitm/video-mitm run -r /opt/GITHUB_REPOSITORY/video-mitm/netflix.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
