[Unit]
Description=MTProxy
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/hiddify-manager/other/telegram/orig/
ExecStart=/opt/hiddify-manager/other/telegram/orig/tgproxy_run.sh
Restart=on-failure
StartLimitBurst=0

[Install]
WantedBy=multi-user.target