[Unit]
Description=rpxy-l4 SNI Proxy
Documentation=https://github.com/junkurihara/rust-rpxy-l4
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
ExecStart=/opt/hiddify-manager/other/rust-rpxy-l4/bin/rpxy-l4 --config /opt/hiddify-manager/other/rust-rpxy-l4/config.toml --log-dir /opt/hiddify-manager/log/system/rpxy-l4
Restart=always
RestartSec=3
LimitNOFILE=infinity
OOMScoreAdjust=100

[Install]
WantedBy=multi-user.target
